<div class="box">
  <h1>Want to know us more?</h1>
  <%= image_tag "cutie.png" %>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
    illum, animi earum ea amet sequi reiciendis sit corporis sunt
    iusto cupiditate odio maxime adipisci cumque eligendi nemo
    dolore id itaque?</p>
</div>








