<style>

    body {
        background: url("https://c8.alamy.com/comp/2C4Y48H/bunch-of-fresh-lavender-flowers-decorated-with-lilac-ribbon-violet-flowers-greeting-floral-card-with-place-for-text-top-view-copy-space-2C4Y48H.jpg") no-repeat center center/cover;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        opacity: 5;
    }

    h1 {
        margin: 80px;
    }


</style>
<h1>CONTACT PAGE</h1>


